* {
  box-sizing: border-box;
}

/* main elements */

body {
  font-family: "Alta", sans-serif;
  background: #fafafa;
  margin-top: 25px;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  margin: 0;
}
ul {
  padding-left: 0;
}

nav li {
  padding: 15px 0;
  margin: 2px 0;
  background: #ffffff;
  font-size: 0.8rem;
}
nav li a {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: #ffffff;
}

main article:last-child {
  padding-bottom: 25px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 10px;
}

article p {
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.4;
  padding: 0 20px 20px 20px;
  color: #747474;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

footer li {
  list-style-type: none;
}

footer p {
  font-size: 1em;
  font-weight: 200;
  margin-top: 30px;
}

/* classes styles */

.wrapper {
  margin-left: 2%;
  margin-right: 2%;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
  background:#fafafa;
  margin-bottom: 20px;
  text-align: center;
}

header .profile-pic {
  margin-top: 40px;
  width: 70%;
}

.title {
  padding: 35px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  flex-basis: 100%;
}

.introduction {
  padding-bottom: 25px;
  padding-top: 10px;
  color: #969696;
}

.footer-nav {
  border-top: 1px solid #dbdbdb80;
  margin-bottom: 50px;
}
.contact-section {
  padding-top: 35px;
  margin-bottom: 65px;
}
.footer-nav li {
  /* Makes footer links inline */
  display: inline-block;
  background: #fafafa;
}

/* .footer-nav li:first-child{
  float: left;
  font-weight: 900;
} */

.footer-nav li:nth-child(4){
  /* Back to top link in footer*/
  float: right;
  padding-bottom: 20px;
  line-height: 0em;
}

.footer-nav li:nth-child(n+1):nth-child(-n+3) {
  /* Hides links in footer, except for Back to top link */
  display: none;
}
.student {
  float: left;
  font-size: 0.9em;
  font-weight: 900;
}

.footer-message {
  color: #808080;
}

.contact-info {
  word-spacing: 10px;
  font-weight: 500;
}

/* Id styles */
#portfolio img {
  width: 100%;
}

#contact {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 800;
}

/* Bigger screen styles */

@media screen and (min-width: 768px) {

  .nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav li {
    padding: 20px;
    background: #fafafa;
  }
  header {
    flex-direction: row-reverse;
  }
  .profile-pic {
    max-width: 42%;
    padding-right: 10px;
    padding-bottom: 60px;
  }
  .introduction{
    flex-basis: 40%;
    padding-top: 10px;
    text-align: left;
    font-size: 1.3em;

  }
  header p {
    flex-grow: 1;
  }
  article {
    flex-basis: 48%;
    margin: 0 0.4em;
  }
  article p {
    padding: 0 35px 35px 20px;
  }
  .footer-message {
    font-size: 1.3em;
    padding: 0 85px 25px 85px;
  }

  footer ul {
    margin-bottom: 60px;
  }

  #contact {
    margin: 50px 0;
  }

  .footer-nav ul{
    float: right;
  }
  .footer-nav li:nth-child(n+1):nth-child(-n+3) {
    /* Displays links in footer, spaces links, aligns line height with "Student" */
    display: inline-block;
    font-weight: 600;
    padding-left: 20px;
    line-height: 0em;
    font-size: 0.8em;
    text-transform: uppercase;
 
  }
  .footer-nav li:last-child{
    display: none;
    /* Hides Back to top link in footer */
  }
  .contact-section {
    padding-top: 10px;
  }
}

@media screen and (min-width: 1024px){

  .name {
    float: left;
    margin-left: 3%;
  }
  .nav {
    justify-content: flex-end;
  }

  .main-header {
    clear: left;
  }
  .introduction {
    margin-right: 4%;
    margin-left: 3%;
   
  }

  article {
    flex-basis: 30%;
  }

}
