* {
  box-sizing: border-box;
}

/* main elements */

body {
  font-family: "Alta", sans-serif;
  /* background: #fafafa; */
  background: #d1e7ff;
}

.nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  margin: 0;
}
ul {
  padding-left: 0;
}

nav li {
  padding: 10px 0;
  margin: 2px 0;
  background: #ffffff;
  font-size: 0.8rem;
}
nav li a {
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: #ffffff;
}

#portfolio img {
  width: 100%;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

article p {
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.4;
  padding: 0 10px 30px 10px;

}

footer {
  text-align: center;
}

footer li {
  list-style-type: none;
}

footer p {
  font-size: 1em;
  font-weight: 200;
}

/* classes styles */

.wrapper {
  margin-left: 2%;
  margin-right: 2%;
}

.name {
  font-weight: 700;
  font-size: 1.5rem;
  background:#d1e7ff;
  margin-bottom: 10px;
}

header .profile-pic {
  margin-top: 55px;
  margin-bottom: 10px;
}

.title {
  padding: 35px 0;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.introduction {
  padding-bottom: 25px;
  padding-top: 10px;
}

/* Id styles */
#contact {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 800;
}